@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    padding: 0px;
    margin: 0px;
    color: white;
}

a{
    text-decoration: none;
}

.header{
    width: 100%;
    text-align: left;
    font-size: 50px;
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: row;
    background-color: rgb(25, 109, 134);
}
.all{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: column;
    background-color: rgb(0, 69, 90);
    height: 100%;

}
.allphoto{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.textup{
    margin-top: 12px;
}
.inputtop{
    margin-left: 30px;
    border: 1px solid;
    font-size: 17px;
    padding: 5px;
    height: 25px;
    background-color: rgb(0, 69, 90);
}
.formtop{
    margin-bottom: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: column;
}
ht{
    text-decoration: none;
}
button{
    background-color: rgb(0, 69, 90);
    border: 1px solid;
    border-style:groove;
}

.sctitle{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: column;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    margin: 10px;
}

.oferty{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: column;
    width: 1000px;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
}

.oferta{
    width: 98%;
    margin: 5px;
    background-color: rgb(0, 78, 102);
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    align-items: column;
    flex-direction: row;
    overflow-y: hidden;
    padding: 5px;
}
.pic{
    margin-right: 10px;
}

.oferta:hover{
    background-color: rgb(0, 65, 85);
}

opis{
    font-size: 15px;
    width: 700px;
}
.inside{
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    align-items: column;
    flex-direction: column;
}
.inside2{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: column;
    flex-direction: column;
    text-align: center;
}
button:hover{
    background-color: rgb(0, 46, 60);
}

.oferta_box{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: column;
    flex-direction: column;
    width: 1000px;
    height: 100%;
    background-color: rgb(0, 58, 76);
    margin: 30px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    padding: 15px;
}
.inside_offer{
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    align-items: column;
    flex-direction: column;
    padding: 15px;
}
.titlein{
    display: flex;
    flex-wrap:wrap;
    justify-content: left;

    margin-right: 15px;
    font-size: 35px;
}
.stan_oferta{
    display: flex;
    flex-wrap:wrap;
    justify-content: left;

    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.double_oferta{
    display: flex;
    flex-wrap:wrap;
    align-items: row;
    flex-direction: row;
}
phone{
    font-size: 18px;
    color: rgb(204, 204, 204);
}
.ilosc_cena{
    display: flex;
    flex-wrap:wrap;
    align-items: column;
    flex-direction: column;
    justify-content: right;
    color: rgb(204, 204, 204);
}
.ilosc-suw{
    display: flex;
    flex-wrap:wrap;
    align-items: row;
    flex-direction: row;
    justify-content: left;
    width:145px;
    height:30px;
    cursor:pointer;
    font-size:25px;
    margin-bottom: 5px;
    overflow-y: hidden;
}
#ilosc-mns{
    width:30px;
    height:30px;
    cursor: pointer;
}
#ilosc-add{
    width:30px;
    height:30px;
    cursor: pointer;
}
.ilosc-inpt{
    width:77px;
    font-size: 18px;
    text-align: center;
}
.ilosc_cena{
    display: flex;
    flex-wrap:wrap;
    align-items: column;
    flex-direction: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.cena_oferta{
    min-width: 170px;
}
.column{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    flex-direction: center;
    justify-content:end;
    margin-left: 200px;
    margin-top: 100px;
}
.rowno{
    align-items: left;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    height: 100%;
}

.carousel {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}
.carousel-notscalable {
    display: flex;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}
.carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}
.ilosc-inpt{
    background-color: rgb(0, 58, 76);
    
}