@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.all{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: column;
    background-color: rgb(0, 69, 90);
    height: 100%;

}
.allphoto{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.opis-oferta{
    display: flex;
    flex-wrap:wrap;
}

.sctitle{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: column;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 30px;
    margin: 10px;
}
.textup{
    margin-top: 12px;
}
.main{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.inputtop{
    background-color: #ffffff;
    border: 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: "Montserrat", sans-serif;
    height: 30px;
    width: 250px;
    display: flex;
    margin-left: 435px;
}
.searchbutton{
width: 40px;
height: 32px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border: 1px solid;
border-left: 0px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.header{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: white;
    background-color:#0e0d0d;
    font-size: 40px;
    padding: 5px;
    width: 100%;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 1);
    z-index: 1;
}
.scaling{
    margin-top: 5px;
    display: flex;
    justify-content:space-evenly;
    justify-self: center;
    flex-wrap:wrap;
    width: 100%;
}
.header2{
    display: flex;
    justify-content:space-around;
}
.headerhrefs{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: row;
    flex-wrap:wrap;
    justify-content: left;
}
.headerhrefs div{
    margin-inline: 10px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 13px;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.6s;
}
a:hover{
    filter: brightness(0.9);
}
.topbar{
    display: flex;
    align-items: row;
    padding: 10px;
    flex-wrap:wrap;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #202020;
    transform: translateY(-60px);
    transition: 0.4s;
}
.topbar.active{
    transform: translateY(0px);
}
.topbar form{
    display: flex;
    align-items: row;
}
.searchbutton{
    cursor: pointer;
}
#search{
    cursor: pointer;
}

/* OFFERS */

.offers{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
}

.left{
    display: flex;
    flex-direction: column;
}
.right{
    width: 60%;
    font-size: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.rightlong{
    display: flex;
    flex-direction: row;
}
.stan{
    font-size: 14px;
}
.ilosc{
    font-size: 14px;
}
.right div{
    margin-bottom: 3px;
}

.ofert{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    width: 70%; 
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(206, 206, 206);
    font-family: "Instrument Sans", sans-serif;
    font-weight: 200;
    transition: 0.1s ease-in-out;
}
.ofert img{
    max-height: 200px;
}

.ofert:hover{
    box-shadow: 0px 0px 6px 0px rgba(68, 68, 68, 1);
}

/* OFERTA_INDEX */

.offerinside{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 1200px;
    font-family: "Montserrat", sans-serif;
}

.stan_oferta{
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    font-size: 15px;
    text-transform: uppercase;
}
.double_oferta{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
}
phone{
    font-size: 18px;
    color: rgb(204, 204, 204);
}
phone2{
    font-size: 18px;
    color: rgb(148, 148, 148);
}
.ilosc_cena{
    display: flex;
    flex-wrap:wrap;
    align-items: column;
    flex-direction: column;
    justify-content: right;
    color: rgb(204, 204, 204);
}
.ilosc-suw{
    display: flex;
    flex-wrap:wrap;
    align-items: row;
    flex-direction: row;
    justify-content: left;
    width:145px;
    height:30px;
    cursor:pointer;
    font-size:25px;
    margin-bottom: 5px;
    overflow-y: hidden;
}
#ilosc-mns{
    width:30px;
    height:30px;
    cursor: pointer;
}
#ilosc-add{
    width:30px;
    height:30px;
    cursor: pointer;
}
.ilosc-inpt{
    width:77px;
    font-size: 18px;
    text-align: center;
}
.ilosc_cena{
    display: flex;
    flex-wrap:wrap;
    align-items: column;
    flex-direction: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.cena_oferta{
    min-width: 170px;
}
.column{
    display: flex;
    flex-wrap:wrap;
    flex-direction: center;
    justify-content:end;
}
.rowno{
    align-items: left;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    height: 100%;
}
.carousel {
    width: 400px; 
    height: 400px;
    position: relative;
    overflow: hidden; 
    margin: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.carousel-inner {
    display: flex;
    justify-items: center;
    align-items: center;
    transition: transform 0.4s ease-in-out; 
    transition: 0.2 ease-in-out;
    width: 100%; 
}

.carousel-item {
    min-width: 100%; 
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;

}

.title{
    font-size: 30px;
}
.tittleandbutton{
    width: 300px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    padding: 15px;
    margin-inline: 100px;
}